<html>
        <center>
                <h1> Welcome to ansible inhouse Training </h1>
                <h2> This system is running {{ ansible_os_family }} </h2>
                <h3> System Host name is {{ ansible_hostname }} </h3>
		<h4> final call  </h4>
        </center>
</html>
